h1 {
    font-size: 24px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-holder {
    height: 162px;
    width: 266px;
    background: #999999;
}

.stock-holder {
    display: flex;
    justify-content: space-between;
    background: grey;
    padding: 16px;
}

.buy-holder {
    display: flex;
    justify-content: space-between;
}

.stock-holder:nth-of-type(even) {
    background: lightgray;
}

p {
    margin: 8px;
    color: white;
}

.stocks {
    margin-top: 48px;
    width: 100%;
}