h1 {
    font-size: 24px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-holder {
    height: 162px;
    width: 266px;
    background: #999999;
}

.stock-holder {
    display: flex;
    justify-content: space-between;
    background: grey;
    padding: 16px;
}

.buy-holder {
    display: flex;
    justify-content: space-between;
}

.stock-holder:nth-of-type(even) {
    background: lightgray;
}


.stocks {
    margin-top: 48px;
    width: 100%;
}

.profile-stock-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #343a42;
}

.search-button {
    background-color: #07b532;
    color: white;
}

.ranking-button {
    background-color: #ddad6b;
    color: black;
}

.profile-equity {
    color: #ddad6b;
}