h1 {
    font-size: 24px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202225;
    min-height: -webkit-fill-available;

}

.graph-holder {
    height: 162px;
    width: 266px;
    background: #999999;
}

.stock-holder {
    display: flex;
    justify-content: space-between;
    background: grey;
    padding: 16px;
}

.buy-holder {
    display: flex;
    justify-content: space-between;
}

.stock-holder:nth-of-type(even) {
    background: lightgray;
}

.links {
    display: flex;
    justify-content: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.1rem;
}


.stocks {
    margin-top: 48px;
    width: 100%;
}

.profile-stock-containers {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #343a42;
    padding-bottom: 2rem;
}

.profile-stock-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #343a42;
    padding-bottom: 2rem;
}

.search-button {
    background-color: #07b532;
    color: white;
    border: solid #707070 2px;
    margin: 13px;
    font-size: 20px;
    width: 102px;
    border-radius: 20px;
}

.ranking-button {
    background-color: #ddad6b;
    border: solid #707070 2px;
    color: white;
    margin: 13px;
    font-size: 20px;
    width: 102px;
    border-radius: 20px;
}

.profile-equity {
    color: #ddad6b;
    margin-top: 2rem;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.profile-position {
    color: #ddad6b;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-top: 1.2rem;


}

.profile-stock-info-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 3rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 15px;
    flex-wrap: wrap;
    border-bottom: 3px solid #ddad6b;
    transition: transform .2s;
    margin-right: 1rem;
    margin-left: 1rem;
}

.profile-stock-info-container:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 300px) and (min-width: 0px) {

}
@media only screen and (max-width: 600px) and (min-width: 301px) {

}
@media only screen and (max-width: 900px) and (min-width: 601px) {
    .profile {
        min-height: -webkit-fill-available;

    }
}
@media only screen and (max-width: 1200px) and (min-width: 901px) {
    .profile {
        min-height: -webkit-fill-available;
    }
}
@media only screen and (max-width: 1700px) and (min-width: 1201px) {
    .profile {
        min-height: -webkit-fill-available;
    }
    .profile-stock-info-container {
        width: 12rem;
    }
}
@media only screen and (max-width:2200px) and (min-width: 1701px) {
    .profile {
        min-height: -webkit-fill-available;
    }
    .profile-stock-info-container {
        width: 12rem;
    }
}
@media only screen and (min-width: 2201px) {
    .profile {
        min-height: -webkit-fill-available;
    }
    .profile-stock-info-container {
        width: 12rem;
    }
}