.graph-holder {
    height: 162px;
    width: 266px;
    background: #999999;
    margin: 16px;
}

.single-stock-buy-button {
    background-color: #07b532;
    color: white;
}

.stock-fullname {
    color: #ddad6b;
    margin-top: 1rem;
}

.stock-info {
    display: flex;
    justify-content: space-between;
    background: #343a42;
    width: 100%;
    flex-direction: column;
    
}

.singlestock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #202225;
}

.news {
    background: grey;
    width: 100%;
}
#news-date {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.news > h1 {
    text-align: center;
    color: #8c201e;
    padding: 1rem;
}

#news-container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: black;
    border-bottom: 3px solid #8c201e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#news-container > a {
    color: hsla(0,0%,100%,.6);
}

.news-date-container {
    display: flex;
    justify-content: right;
}

.news-date-container > p {
    color: #ddad6b;
}

.stock-info-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    height: 20rem;
    padding: 1rem;
    border-radius: 15px;
    border-bottom: 3px solid #ddad6b;
}

#back-button {
    border: solid #707070 2px;
    margin: 13px;
    font-size: 20px;
    width: 102px;
    border-radius: 20px;
    background-color: #ff2825;
}

.buy-form {
    display: flex;
    flex-direction: column;
}

.green {
    color: #07b532;
}

.red {
    color: #ff2825;
}

.single-quote {
    color: #ddad6b;
}

.quote-title {
   color: hsla(0,0%,100%,.6)
}

.available-balance {
    color: #ddad6b;
    font-weight: 500;
}

.quantity-label {
    color: #ddad6b;
}

@media only screen and (max-width: 300px) and (min-width: 0px) {
  
}
@media only screen and (max-width: 600px) and (min-width: 301px) {

}
@media only screen and (max-width: 900px) and (min-width: 601px) {
    .stock-info-container {
        width: 30%;
        margin-bottom: 3rem;
        margin-right: 0rem;
    }
    .stock-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #news-container {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 901px) {
    .stock-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .stock-info-container {
        width: 20%;
        margin-bottom: 3rem;
        margin-right: 0rem;
    }
    .buy-form {
        margin-right: 3rem;
    }

    #news-container {
        height: 4rem;
        margin-right: 10rem;
        margin-left: 10rem;

    }
}
@media only screen and (max-width: 1700px) and (min-width: 1201px) {
    .stock-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .stock-info-container {
        width: 15%;
        margin-bottom: 3rem;
        margin-right: 0rem;
    }
    .buy-form {
        margin-right: 3rem;
    }
    #news-container {
        height: 6rem;
        margin-right: 15rem;
        margin-left: 15rem;

    }
}
@media only screen and (max-width:2200px) and (min-width: 1701px) {
    .stock-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .stock-info-container {
        width: 15%;
        margin-bottom: 3rem;
        margin-right: 0rem;
    }
    .buy-form {
        margin-right: 3rem;
    }
    #news-container {
        height: 6rem;
        margin-right: 20rem;
        margin-left: 20rem;

    }
}
@media only screen and (min-width: 2201px) {
    .stock-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .stock-info-container {
        width: 15%;
        margin-bottom: 3rem;
        margin-right: 0rem;
    }
    .buy-form {
        margin-right: 3rem;
    }
    #news-container {
        height: 6rem;
        margin-right: 20rem;
        margin-left: 20rem;

    }
}