.graph-holder {
    height: 162px;
    width: 266px;
    background: #999999;
    margin: 16px;
}

.stock-info {
    display: flex;
    justify-content: space-between;
    background: #868686;
    height: 8rem;
    width: 100%;
    flex-direction: column;
}

.singlestock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news {
    background: grey;
    height: 300px;
    width: 100%;
}

.stock-info-container {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
}

.buy-form {
    display: flex;
    flex-direction: row;
}