.buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202225;
}

.buyform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}

input {
    border: solid #707070 2px;
    margin: 17px;
    width: 185px;
    font-size: 16px;
}

.single-stock-buy-button {
    border: solid #707070 2px;
    margin: 13px;
    font-size: 20px;
    width: 102px;
    border-radius: 20px;
    margin-bottom: 1.5rem;

}
.symbolsearch {
    color: #ddad6b;
    font-size: 1.7rem;

}

#symbolsearch {
    border-radius: 10px;
    height: 1.7rem;
    background-color: hsla(0,0%,100%,.6);
    color: white;
}

label {
    font-size: 20px;
    color: #707070;
}

.search-stock-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #343a42;
    padding-left: 4rem;
    padding-right: 4rem;
    min-height: -webkit-fill-available;
}

.search-stock-info-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80%;
    justify-content: space-between;
    height: 14rem;
    padding: 1rem;
    border-radius: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid #07b532;
    transition: transform .2s;
}

.search-stock-info-container:hover {
    transform: scale(1.2);
}

.region, .exchange {
    color: hsla(0,0%,100%,.6)
}

@media only screen and (max-width: 450px) and (min-width: 301px) {

}
@media only screen and (max-width: 600px) and (min-width: 451px) {
    .search-stock-info-container {
        width: 40%;
    }
}
@media only screen and (max-width: 900px) and (min-width: 601px) {
    .search-stock-info-container {
        width: 28%;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 901px) {
    .search-stock-info-container {
        width: 20%;
    }
}
@media only screen and (max-width: 1700px) and (min-width: 1201px) {
    .search-stock-info-container {
        width: 20%;
    }
}
@media only screen and (max-width:2200px) and (min-width: 1701px) {
    .search-stock-info-container {
        width: 14%;
    }
}
@media only screen and (min-width: 2201px) {
    .search-stock-info-container {
        width: 12%;
    }
}