.buy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}

input {
    border: solid #707070 2px;
    margin: 17px;
    width: 185px;
    font-size: 16px;
}

.sell-button {
    border: solid #707070 2px;
    margin: 13px;
    font-size: 20px;
    width: 102px;
    border-radius: 20px;
    background: none;
}

label {
    font-size: 20px;
    color: #707070;
}

.sell-results {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #343a42;
    min-height: 850px;
    flex-wrap: wrap;

}

.sell-button {
    background-color: #ff2825;
    color: white;
}

.sell-stock-info-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 3rem;
    height: 13rem;
    padding: 1rem;
    border-radius: 15px;
    flex-wrap: wrap;
    border-bottom: 3px solid #ddad6b;
}

.num-shares {
    color: hsla(0,0%,100%,.6)

}


@media only screen and (max-width: 300px) and (min-width: 0px) {
    .sell-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

      }
      .sell-stock-info-container {
          width: 50%;
          flex-wrap: wrap;
      }
}
@media only screen and (max-width: 600px) and (min-width: 301px) {
    .sell-results {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;

    }
    .sell-stock-info-container {
        width: 50%;
    }
}
@media only screen and (max-width: 900px) and (min-width: 601px) {
  
}
@media only screen and (max-width: 1200px) and (min-width: 901px) {

}
@media only screen and (max-width: 1700px) and (min-width: 1201px) {

}
@media only screen and (max-width:2200px) and (min-width: 1701px) {

}
@media only screen and (min-width: 2201px) {

}