
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

input {
    border: solid #707070 2px;
    margin: 17px;
    width: 185px;
    font-size: 16px;
}

.grey-bar {
    height: 8px; 
    background: #707070;
    width: 100%;
    margin: 0;
}

.login-button {
    background-color: #07b532;
    color: white;
    border: solid #707070 2px;
    margin: 13px;
    font-size: 20px;
    width: 102px;
    border-radius: 20px;
}

.login-button-demo {
    background-color: #ddad6b;
    color: white;
    border: solid #707070 2px;
    margin: 13px;
    font-size: 20px;
    width: 102px;
    border-radius: 20px;
}

label {
    font-size: 20px;
    color: #707070;
}

.login-log-container {
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-form {
    margin-top: 4rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343a42;
    min-height: -webkit-fill-available;
}

.user_name, .password {
    color: #ddad6b;
}

#user_name, #password {
    border-radius: 10px;
    height: 1.7rem;
    background-color: hsla(0,0%,100%,.6);
    color: black;
}

@media only screen and (max-width: 421px) and (min-width: 0px) {
    .login-logo {
        width: 300px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 420px) {
    .login-logo {
        width: 400px;
    }
}