.nav {
    height: 64px;
    background: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.bm-menu {
    background-color: #202225;
}

.overview {
    color: #ddad6b;
    text-align: center;
}

.menu-holder {
    height: 48px;
    background: #999999;
    width: 48px;
}

.logout {
    text-align: center;
    color: #ff2825;
}

.logo-holder {
    height: 64px;
    padding-top: 2px;
}

.nav-group {
    color: #ff2825;
    border: 1px solid #ddad6b;
    margin-top: 2rem;
    border-radius: 8px;
    transition: transform .2s;
}

.nav-group:hover {
    transform: scale(1.2);
}